@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

 #app {
  width: 100%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

#app .btn-check:checked + .btn,
#app :not(.btn-check) + .btn:active,
#app .btn:first-child:active,
#app .btn.active,
#app .btn.show {
  border-color: transparent;
}

